.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 1rem;

    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}

.botones{
    display: grid;
    margin: auto 5rem;

    @include telefono{
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    @include tablet{
        gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
    }
}
table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: $verde;
        th{
            color: $blanco;
            padding: 2rem;
        }
    }
    tbody{
        td{
            text-align: center;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }
}

